*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Oxygen Mono', monospace;
  color: #fff;
}

body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: #100D0D;

}

section {
  height: auto;
  max-width: 100%;
}

/* ---- Headers ---- */
.section-header {
  font-size: 3rem;
  text-align: center;
  margin: 5rem 0;
}

.sub-header {
  margin: 2rem 0;
  text-align: center;
  font-size: 2rem;
}

/* ---- Particles.js Container ---- */
#particles-js canvas {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease;
}


#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

/* ---- Social Links ---- */
.social-links {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  justify-content: center;
  height: 100%;
}

.social-links__icon {
  height: 4rem;
  width: 4rem;
  fill: #8f8f8f;
}


a {
  display: inline-block;
  position: relative;
  width: 6rem;
  height: 6rem;
  margin-bottom: .5rem;
}

article {
  cursor: pointer;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  box-shadow: 0 0 6px -2px #000, 0 0 45px -20px #000;
  color: #fff;
  line-height: 90px;
  transform: perspective(300px) rotateY(0deg);
  transition: transform 0.4s linear, background-color 0s linear 0.2s, color 0s linear 0.2s;
}

a:hover article {
  transform: perspective(300px) rotateY(180deg);
  color: #eee;
  transition: transform 0.2s linear, background-color 0s linear 0.1s, color 0s linear 0.1s;
}

a:hover .social-links__icon {
  fill: #fff;
}

a:nth-child(1):hover article {
  background-color: #445566;
}

a:nth-child(2):hover article {
  background-color: #ee1d40;
}

a:nth-child(3):hover article {
  background-color: #2C4762;
}

a:nth-child(4):hover article {
  background-color: #CB2027;
}


span {
  transition: transform 0s linear 0.2s, text-shadow 0s linear 0.2s;
  display: block;
  -webkit-font-smoothing: subpixel-antialiased;
  text-align: center;
}

a:hover span {
  transition: transform 0s linear 0.1s, text-shadow 0s linear 0.1s;
  transform: scale(-1, 1);
  text-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
}

.section {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
}

.section__left {
  flex: 0 0 50%;
  margin: auto;
  height: 100%;
}

.section__right {
  flex: 1;
}

.text {
  margin-bottom: 2rem;
}

.grid {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.grid-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2C4762;
  position: relative;
  text-align: center;
  margin: 0 5rem 5rem 0;
}



.grid-img {
  max-width: 100%;
  height: auto;
}



.container {
  width: 80%;
  margin: auto;
}

.static {
  position: absolute;
  width: 100%;
}

.calc {
  padding-left: 20rem;
  width: 80%;
  height: 50rem;

}

.static:hover {
  opacity: 0;
}

.project-text {
  font-size: 1.7rem;
  margin: 4rem 0 2rem 0;
}

.info {
  padding: 4rem;
  margin: auto 0;
}

.lang {
  display: flex;
  text-transform: uppercase;
  font-size: 1.4rem;
  justify-content: center;
  padding: 2rem;
}

.lang-item:not(:last-child) {
  margin-right: 10rem;
}

.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
}

.html {
  background-color: #f06529;
}

.css {
  background-color: #2965f1;
}

.js {
  background-color: #f0db4f;
}

.electron {
  background-color: #1678AD;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-text {
  font-size: 6rem;
  font-weight: 700;
}

.title-sub-text {
  font-size: 7rem;
  font-weight: 700;
}

.title-sub-subtext {
  font-size: 2rem;
  text-transform: uppercase;
  color: #8f8f8f;
}


.project-button {
  margin: 2rem auto;
  background-color: #f06529;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  padding: 1rem 1.6rem;
  text-decoration: none;
  border: none;
  border-radius: .2rem;
}

.project-button:hover .animationArrow {
  animation: liveDemo .7s infinite;
}

.project-button:active {
  position: relative;
  top: 1px;
}

.animationArrow {
  display: inline-block;
}


@keyframes liveDemo {
  0% {
    padding-left: 0rem;
  }

  50% {
    padding-left: 1rem;
  }

  100% {
    padding-left: 0rem;
  }
}

.form {
  text-align: center;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10rem auto;
}

form {
  width: 100%;
}

.form-btn {
  color: #fff;
  background-color: #2C4762;
  padding: 2rem 4rem;
  font-size: 1.6rem;
  border-radius: 25rem;
  border: none;
  cursor: pointer;
}

.form-btn:hover {
  border: 1px solid #fff;
}

.form-btn:active,
.form-btn:focus {
  outline: none;
}

input,
textarea {
  background-color: #2C4762;
  color: #fff;
  border: none;
  padding: 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  width: 50%;
  border-bottom: 1px solid;
  margin: 2rem;
}

input:focus:invalid {
  border-bottom: 1px solid #CB2027;
}

.button-link {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  margin-bottom: 0;
}
